start_date: "{{ START_TIME_UTC }}"
end_date: "{{ END_TIME_UTC }}"
category: "DevOps"
cmdb_ci: "{{ CI |default('Ansible') }}"
short_description: "Test by Ansible Automation"
description: "Test change by Ansible Automation using {{ VAR1 }} and {{ VAR2 }}"
assignment_group: "Automation_Group"
assigned_to: "Ansible User"
u_outage_req: "No"
justification: "Test by Ansible Automation"
u_conflict_justification: "Test by Ansible Automation"
u_validation_plan: "Test by Ansible Automation"
implementation_plan: "Test by Ansible Automation"
backout_plan: "Test by Ansible Automation"
test_plan: "Test by Ansible Automation"
u_test_results: "Test by Ansible Automation"
risk_impact_analysis: "Test by Ansible Automation"
urgency: "3"
impact: "3"